@import "variables";


.label{
    display: flex;
    gap : 0.5rem;
}
.user{
    display: flex;
    gap : 1rem;
    align-items: baseline;
}
.rounded-circle{
    width: 40px;
    height: auto;
}
.label-status {
    background-color: transparentize($primary, 0.5);
    border: 2px solid transparentize($light, 0.5);
}
.label-category {
    background-color: transparentize($secondary, 0.2);
    border: 2px solid transparentize($light, 0.4);
}
.text-decoration-none {
    text-decoration: none;
}
.decision-container {
    max-width: 1100px;
    margin: 3rem auto; 
    padding: 4rem 6rem 3rem 6rem;
    background-color: transparentize($secondary, 0.70);
}
.decision-container-vote{
    max-width: 1100px;
    margin: 0 auto;
}
.container-comment{
    
    margin: 0 auto;
}

.accordion-item{
    
    margin: 0 auto;
}
p {
    font-family: $font-text;
}

h2 {
    font-family: $font-title;
    margin-block-start: 2rem;
}

.btn {
    font-family: $font-title;
    outline-offset: 6px;
    outline: 1px solid $secondary;
    box-shadow: 0 0 8px 0 transparentize($dark, 0.5);
}

.btn:hover {
    background-color: transparentize($primary, 0.95);
}

.expert,
.impacted {
    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}


.comment {
    border-bottom: 1px solid transparentize($dark, 0.8);
}

.accordion-header {
    background-color: transparentize($secondary, 0.90);
    box-shadow: 0 0 5px 0 transparentize($dark, 0.5);
    border: 3px solid $secondary;
    border-radius: 0.5rem;
}

.accordion-header:hover {
    background-color: transparentize($secondary, 0.65);
}

.form-label {
    font-family: $font-text;
    font-size: 1.25rem;
}

.accordion-body {
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

.like, .dislike{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vote{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-vote{
    gap : 2rem;
        font-family: $font-text;
        font-size: 20px;
        color: transparentize($primary, 0.25);
}