{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block body %}
	<h1 class="text-center fw-bold fs-1 my-5">
		Les décisions
	</h1>
	<div class="navbar-button mx-auto d-flex d-grid gap-2 justify-content-center mb-5">
		<button type="button" class="btn btn-outline-primary rounded-pill">Prise de décision commencée</button>
		<button type="button" class="btn btn-outline-primary rounded-pill">Première décision prise</button>
		<button type="button" class="btn btn-outline-primary rounded-pill">Conflit sur la décision</button>
		<button type="button" class="btn btn-outline-primary rounded-pill">Décision définitive</button>
		<button type="button" class="btn btn-outline-primary rounded-pill">Décision non aboutie</button>
		<button type="button" class="btn btn-outline-primary rounded-pill">Décision terminée</button>
	</div>
{% endblock %}
